<h1>Add a new parcel</h1>

<form action="/parcel_input" method="post">
  <div class="form-group">
    <label for="parcel_name">Parcel name</label>
    <input id="n" name="parcel_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
